Create a new user
<form action='/users' method='post'>
  Email: <br>
  <input type='text' name='email'> <br>
  Password: <br>
  <input type='password' name='password'> <br>
  Confirm Password: <br>
  <input type='password' name='password_confirmation'> <br>
  <input type='submit' value='Sign Up'>
</form>
