Type in link
<form action='/links' method='post'>
  Title: <br>
  <input type='text' name='title'> <br>
  Url: <br>
  <input type='text' name='url'> <br>
  Tags: <br>
  <input type="text" name="tags"> <br>
  <input type='submit' value='Submit'>
</form>
