<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
      Tags:  <%= link.tags.first.name if link.tags.first %>
    </li>
  <% end %>
</ul>